body {
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    font-weight: 100;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFC433;
}

.container {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-weight: 400;
}

#choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #1f1f1f;
    border: 0px solid black;
    color: #f6f6f6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

button:hover {
    background-color: #ffc433;
    color:#1f1f1f;
    border: 0px solid grey;
}

#results {
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

#polarChart {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
}

#downloadPDF {
    background-color: #cd3400;
}

#downloadPDF:hover {
    background-color: #1f1f1f;
    color: white;
}

#restart {
    background-color: #00cd9a;
}

#restart:hover {
    background-color: #1f1f1f;
    color: white;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}

#progress-bar {
    width: 0;
    height: 10px;
    background-color: #FFC433;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

#progress-text {
    margin-top: 10px;
    font-size: 14px;
    color: #1f1f1f;
}

.quiz-description {
    background-color: #f6f6f6;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
}

#start-quiz {
    background-color: #1f1f1f;
    font-size: 18px;
    padding: 15px 30px;
}

#start-quiz:hover {
    background-color: #00cd9a;
    color: white;
}
